body {
    background-color: #eef8f6;
  }
  
  .room-list {
    max-height: calc(100vh - 56px);
    overflow-y: auto;
  }
  
  .mes {
    background-color: #007bff;
    color: #fff;
    padding: 8px;
    margin-bottom: 8px;
    border-radius: 5px;
    width: 100vh;
  }
  
  .message-container {
    border: 10px solid #0367da;
    padding: 10px;
    margin-top: 20px;
    max-height: calc(100vh - 56px);
    overflow-y: auto;
    background-color: rgb(0, 0, 0);
    border-radius: 10px;
  }
  
  .message-input {
    margin-top: 10px;
  }
  
  #add-room-section {
    margin-top: 20px;
  }
  #add-room-section form {
    max-width: 400px;
    margin: 0 auto;
  }
  #add-room-title {
        margin-bottom: 20px; /* Adjust the margin as needed */
}
  