body {
    background-color: #eef8f6;
}

.room-list {
    max-height: calc(100vh - 56px);
    overflow-y: auto;
}

.mes {
    background-color: #007bff;
    color: #fff;
    padding: 8px;
    margin-bottom: 8px;
    border-radius: 5px;
    width: 100vh;
}


.message-container {
    height: 600px;
    border: 10px solid #0367da;
    padding: 10px;
    margin-top: 20px;
    max-height: calc(100vh - 56px);
    overflow-y: auto;
    background-color: rgb(0, 0, 0);
    border-radius: 10px;
    max-height: 300px;
}


.message-input {
    margin-top: 10px;
}

#add-room-section {
    margin-top: 20px;
}
#add-room-section form {
    max-width: 400px;
    margin: 0 auto;
}
#add-room-title {
    margin-bottom: 20px; /* Adjust the margin as needed */
}
/* Style pour le textarea */
textarea.form-control {
    width: 100%;
    height: 100px; /* Ajustez la hauteur maximale selon vos besoins */
    max-height: 200px; /* Hauteur maximale avant l'apparition du scroll */
    padding: 10px;
    margin-top: 10px;
    resize: vertical;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    overflow-y: auto; /* Ajoute un scroll vertical si nécessaire */
}

/* Style pour le placeholder du textarea */
textarea.form-control::placeholder {
    color: #999;
}

/* Style pour le textarea lorsqu'il est focus */
textarea.form-control:focus {
    border-color: #0367da;
    box-shadow: 0 0 5px rgba(3, 103, 218, 0.5);
    outline: none;
}
/* Style pour le titre avec la classe "titre_room" */
.titre_room {
    background-color: #0367da; /* Couleur de fond bleue */
    color: #000000; /* Couleur du texte en blanc */
    padding: 10px; /* Espacement intérieur pour améliorer la lisibilité */
    border-radius: 5px; /* Coins arrondis pour un aspect plus doux */
    width: 40vh;

}

